<% tweets.each do |t| %>
  <li>
    <a href="http://twitter.com/<%= t.author %>" target="_blank">
      <b>
        @<%= t.author %>
      </b>
    </a>:
    <%= auto_link t.text, :all, :target => '_blank' %>
    [<a href="http://twitter.com/<%= t.author %>/status/<%= t.twitter_id %>" target="_blank">link</a>]
    <!-- (<%=h t.tweeted_at %>) -->
  </li>
<% end %>
<% unless tweets.empty? %>
  <script type="text/javascript">
    //<![CDATA[
      last_twitter_id<%= term %> = <%= tweets.last.twitter_id %>;
    //]]>
  </script>
<% end %>