<div id="races_header">
  <div style="float:left;">
    <%= will_paginate @races %>
  </div>
  <div style="float:right;">
    <% form_for @search, :html => {:id => :searchform} do |f| %>
      <%= f.label :complete_equals, "Show: " %>
      <% selected_filter = (params[:search].nil? || params[:search][:complete_equals].nil?) ? nil : params[:search][:complete_equals].to_s %>
      <%= f.select :complete_equals, [["All races", nil],["Only in progress races", "0"], ["Only completed races", "1"]] , options = {:selected => selected_filter}, {:onchange => "$('#searchform').submit();"} %>
    <% end %>
  </div>
</div>

<table id="races_table">
  <tr>
    <th colspan="3">Race</th>
    <th>Race To</th>
    <th>Began </th>
    <th>Duration</th>
  </tr>

<% @races.each do |race| %>
<%
  color1 = "black"
  color2 = "black"
  color1 = "green" if race.winner == 1
  color1 = "orange" if race.winner == 0
  color2 = "green" if race.winner == 2
  color2 = "orange" if race.winner == 0
%>
  <tr>
    <div>
      <td align="right">
        <font color="<%= color1 %>">
        <% if !race.complete? %>
          <b>
        <% end %>
        <%=h race.term1 %> (<%= race.count1 %>)
        <% if !race.complete? %>
          </b>
        <% end %>
        </font>
      </td>
      <td align="center">vs.</td>
      <td align="left">
        <font color="<%= color2 %>">
        <% if !race.complete? %>
          <b>
        <% end %>
        <%=h race.term2 %> (<%= race.count2 %>)
        <% if !race.complete? %>
          </b>
        <% end %>
        </font>
      </td>
    </div>
    <td align="center">
      <%=h race.race_to %>
    </td> 
    <td align="center" title="<%= race.began_at.localtime %>">
      <%= time_ago_in_words race.began_at %> ago
    </td>
    <td align="center" title="<%= complete_distance_of_time_in_words(race.began_at, race.complete? ? race.ended_at : Time.now) %>">
      <% if race.complete? %>
        <%= distance_of_time_in_words race.began_at, race.ended_at %>
      <% else %>
        in progress
      <% end %>
    </td>
    <td align="center"><%= link_to 'View', race %></td>
  </tr>
<% end %>
</table>