<%= will_paginate @races %>
<br />
<table border="0px" width="100%">
  <tr>
    <td width="33%" align="center">
      <b>bold</b> listings are active.
    </td>
    <td width="33%" align="center">
      <font color="green">green</font> designates a winner/leader.
    </td>
    <td width="33%" align="center">
      <font color="orange">orange</font> designates a tie.
    </td>
  </tr>
</table>
<br />
<table border="0px" width="100%" cellspacing="8px" style='border: 1px solid #000;'>
  <tr>
    <th>Query 1</th>
    <th></th>
    <th>Query 2</th>
    <th>Race To</th>
    <th>Began </th>
    <th>Duration</th>
  </tr>

<% @races.each do |race| %>
<%
  color1 = "black"
  color2 = "black"
  color1 = "green" if race.winner == 1
  color1 = "orange" if race.winner == 0
  color2 = "green" if race.winner == 2
  color2 = "orange" if race.winner == 0
%>
  <tr>
    <a href="<%= race_path(race) %>">
    <td align="center">
      <font color="<%= color1 %>">
      <% if !race.complete? %>
        <b>
      <% end %>
      <%=h race.term1 %> (<%= race.count1 %>)
      <% if !race.complete? %>
        </b>
      <% end %>
      </font>
    </td>
    <td align="center">vs.</td>
    <td align="center">
      <font color="<%= color2 %>">
      <% if !race.complete? %>
        <b>
      <% end %>
      <%=h race.term2 %> (<%= race.count2 %>)
      <% if !race.complete? %>
        </b>
      <% end %>
      </font>
    </td>
    </a>
    <td align="center"><%=h race.race_to %></td> 
    <td align="center"><%= time_ago_in_words race.began_at %> ago</td>
    <td align="center">
    <% if race.complete? %>
      <%= distance_of_time_in_words race.duration %>
    <% else %>
      in progress
    <% end %>
    </td>
    <td align="center"><%= link_to 'View', race %></td>
    <!-- <td><%= link_to 'Edit', edit_race_path(race) %></td> -->
    <!-- <td><%= link_to 'Destroy', race, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>