<table align="center">
  <tr>
    <td valign="top">
      <% form_for(@race) do |f| %>
        <%= f.error_messages %>

        <p>
          <%= f.label "Query 1" %>: 
          <%= f.text_field :term1 %>
        </p>
        <p>
          <%= f.label "Query 2" %>: 
          <%= f.text_field :term2 %>
        </p>
        <!-- <p>
          <%= f.label :count1 %><br />
          <%= f.text_field :count1 %>
        </p>
        <p>
          <%= f.label :count2 %><br />
          <%= f.text_field :count2 %>
        </p> -->
        <p>
          <%= f.label :race_to %>:
          <%= f.text_field :race_to %>
        </p>
        <p align="center">
          <%= f.submit '...off to the races!' %>
        </p>
      <% end %>
    </td>
    <td valign="top">
      <p>Current trends on Twitter:</p>
      <ul>
        <% @trends.each do |trend| %>
        <li>
          <%=h trend %>
        </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>