<% if !@race.complete? %>
  <h3>First to <%= @race.race_to %> wins.</h3>
  <p>Race in progress. This page will refresh automatically!</p>
<% else %>
  <p><h1><em><%= @race.winning_term %></em> is the winner!</h1></p>
<% end %>

<table width="100%">
  <tr>
    <td align="center" valign="middle" width="50%">
      <h2><%= @race.term1 %> (<%= @race.count1 %> tweets)</h2>
    </td>
    <td align="center" valign="middle" width="50%">
      <h2><%= @race.term2 %> (<%= @race.count2 %> tweets)</h2>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">
      <ol>
      <% @race.twitter_tweets.all(:order => "twitter_id ASC").each do |t| %>
        <% if t.term == 1 %>
          <li><a href="http://twitter.com/<%= t.author %>" target="_blank"><b>@<%= t.author %></b></a>: <%= t.text %> [<a href="http://twitter.com/<%= t.author %>/status/<%= t.twitter_id %>" target="_blank">link</a>]<!-- (<%=h t.tweeted_at %>) --></li>
        <% end %>
      <% end %>
      </ol>
    </td>
    <td align="left" valign="top">
      <ol>
      <% @race.twitter_tweets.all(:order => "twitter_id ASC").each do |t| %>
        <% if t.term == 2 %>
          <li><a href="http://twitter.com/<%= t.author %>" target="_blank"><b>@<%= t.author %></b></a>: <%= t.text %> [<a href="http://twitter.com/<%= t.author %>/status/<%= t.twitter_id %>" target="_blank">link</a>]<!-- (<%=h t.tweeted_at %>) --></li>
        <% end %>
      <% end %>
      </ol>
    </td>
  </tr>
</table>

<% if !@race.complete? %>
  <script>
  var limit="0:07"

  if (document.images){
    var parselimit=limit.split(":")
    parselimit=parselimit[0]*60+parselimit[1]*1
  }
  function beginrefresh() {
    if (!document.images)
      return
    if (parselimit==1)
      window.location.reload()
    else{ 
      parselimit-=1
      curmin=Math.floor(parselimit/60)
      cursec=parselimit%60
      if (curmin!=0)
        curtime=curmin+" minutes and "+cursec+" seconds left until page refresh!"
      else
        curtime=cursec+" seconds left until page refresh!"
      window.status=curtime
      setTimeout("beginrefresh()",1000)
    }
  }

  window.onload=beginrefresh
  </script>
<% end %>