<p>
  <b>Term1:</b>
  <%=h @race.term1 %>
</p>

<p>
  <b>Term2:</b>
  <%=h @race.term2 %>
</p>

<p>
  <b>Count1:</b>
  <%=h @race.count1 %>
</p>

<p>
  <b>Count2:</b>
  <%=h @race.count2 %>
</p>
<p>
  <b>Race To:</b>
  <%=h @race.race_to %>
</p>

<h1><%=h @race.term1 %></h1>
<% @race.twitter_tweets.each do |t| %>
  <% if t.term == 1 %>
    <b><%= t.author %></b>: <%=h t.text %><br />
  <% end %>
<% end %>

<h1><%=h @race.term2 %></h1>
<% @race.twitter_tweets.each do |t| %>
<% if t.term == 2 %>
  <b><%= t.author %></b>: <%=h t.text %><br />
<% end %>
<% end %>

<%= link_to 'All races', races_path %> |
<%= link_to 'New race', new_race_path %>