<div id="race_status">
  <%= render :partial => "race_status" %>
</div>

<table width="100%">
  <tr>
    <td align="center" valign="middle" width="50%">
      <div id="query1_status">
        <%= render :partial => "query_status", :locals => {:race => @race, :term =>1} %>
      </div>
    </td>
    <td align="center" valign="middle" width="50%">
      <div id="query2_status">
        <%= render :partial => "query_status", :locals => {:race => @race, :term =>2} %>
      </div>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">
      <ol>
        <div id="update_term1">
        </div>
      </ol>
    </td>
    <td align="left" valign="top">
      <ol>
        <div id="update_term2">
        </div>
      </ol>
    </td>
  </tr>
</table>

<!-- Load the existing tweets when the page loads. -->
<script type="text/javascript">
  <%= remote_function :url => {:action => "latest_tweets", :id => @race.id, :term => 1, :last_twitter_id => 0}, :update => "update_term1" %>
  <%= remote_function :url => {:action => "latest_tweets", :id => @race.id, :term => 2, :last_twitter_id => 0}, :update => "update_term2" %>
</script>

<!-- Grab latest tweets for term 1. -->
<%= periodically_call_remote :url => {:action => "latest_tweets", :id => @race.id, :term => 1}, :frequency => ((TWITTER_REFRESH_INTERVAL+1)/2), :update => "update_term1", :condition => "race_finished == false", :position => "bottom", :with => "'last_twitter_id=' + last_twitter_id" %>

<!-- Grab latest tweets for term 2. -->
<%= periodically_call_remote :url => {:action => "latest_tweets", :id => @race.id, :term => 2}, :frequency => ((TWITTER_REFRESH_INTERVAL+1)/2), :update => "update_term2", :condition => "race_finished == false", :position => "bottom", :with => "'last_twitter_id=' + last_twitter_id" %>

<!-- Update the status of query 1 -->
<%= periodically_call_remote :url => {:action => "update_query_status", :id => @race.id, :term => 1}, :frequency => ((TWITTER_REFRESH_INTERVAL+1)/2), :update => "query1_status", :condition => "race_finished == false" %>

<!-- Update the status of query 2 -->
<%= periodically_call_remote :url => {:action => "update_query_status", :id => @race.id, :term => 2}, :frequency => ((TWITTER_REFRESH_INTERVAL+1)/2), :update => "query2_status", :condition => "race_finished == false" %>

<!-- Update the race status -->
<%= periodically_call_remote :url => {:action => "update_race_status", :id => @race.id}, :frequency => (TWITTER_REFRESH_INTERVAL+1), :update => "race_status", :condition => "race_finished == false" %>

<!-- Re-query from twitter. -->
<%= periodically_call_remote :url => {:action => "refresh_status", :id => @race.id}, :frequency => "5", :condition => "race_finished == false" %>
